@use "../base/base" as *;
.timer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 100px;
  border-radius: 10px;
  padding: 20px 40px;
  background-color: $base-chernyy-2;

  h2 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 300px;
  }

  // .timer__wrapper

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__devider {
    font-weight: 700;
    font-size: 39px;
  }

  // .timer__item

  &__item {
    position: relative;
    width: 90px;
    height: 90px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    line-height: 1;
  }

  &__circle {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-90deg);
  }

  circle {
    fill: none;
    stroke-width: 4;
  }

  .bg {
    stroke: rgba(255, 255, 255, 0.2);
  }
  .progress {
    stroke: $base-oranzhevyy;
    stroke-dasharray: 220.2; // TODO: С ПОМОЩЬЮ ЭТОГО ПОТОМ РЕАЛИЗОВАТЬ ТАЙМЕР (2πr = 2 * 3.14 * 40)
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 0.5s ease;
  }

  // .timer__number

  &__number {
    font-size: 39px;
    font-weight: 700;
  }

  // .timer__text

  &__text {
    font-size: 12px;
    opacity: 0.6;
  }
}
